[safe]
	directory = /workspaces/CCF
[user]
	name = Eddy Ashton
	email = edashton@microsoft.com
[pull]
	rebase = false
[core]
	editor = nano
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
